@import "bootstrap";

body {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    color: rgb(94,94,94);
    background:image-url("bridge.jpg") no-repeat center center fixed;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default .navbar-brand {
    color: #1abc9c;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1abc9c;
    background-color: transparent;
    border-bottom: 2px solid #1abc9c;
}

.navbar-default .navbar-nav > li {
    margin-right: -12px;
}
.navbar-default .navbar-nav > li > a {
    color: #1abc9c;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #999;
}

                        /* First Page headings and stuff */

.text-center {
  font-family: Georgia, sans-serif;
}

#headerwrap {
    margin-top: -160px;
    padding-top: 250px;
    text-align:center;
    min-height: 650px;
    width: 100%;
    color: rgb(245,245,245);
}

#headerwrap h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#headerwrap h4 {
    font-weight: 400;
}

a.mail-link{
  text-decoration: none;
}

a.mail-link:hover{
    color: #1abc9c;
}

                            /* Styles for 2nd page and down */

hr.style-two, hr.vertical-line {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.vertical-line {
    margin-right: 31%;
    width: 45%;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

/* General for all subheadings */
div.subheadings{
    width: 100%;
    height: 100%;
    background: #F3EFE0;
    position: absolute;
}

div#slab {
  font-family: Georgia, sans-serif;
}

                        /* Specifically 2nd Page (About) styles */

span#line1:before,
span#line1:after {
    border-top: 3px solid rgb(94,94,94);
    display: block;
    height: 1px;
    content: " ";
    width: 15%;
    position: absolute;
    top: 2.2em;
}
span#line1:before{
    left: 27.5%;
}
span#line1:after {
   left: 57%;
}

div.about-text{
    font-size: 92%;
    margin: 0 auto;
    float: none;
}

div#about{
    top:100%;
}
img#profile{
    height: 35%;
    width: auto;
    margin: -3% auto 1% auto;
    border-radius: 100%;
    border: 2px solid #1abc9c;
    display: block;
}
                        /* Specifically 3rd Page (Skills) styles */

span#line2:before,
span#line2:after {
    border-top: 3px solid rgb(94,94,94);
    display: block;
    height: 1px;
    content: " ";
    width: 15%;
    position: absolute;
    top: 2.2em;
}
span#line2:before{
    left: 25.5%;
}
span#line2:after {
   left: 59.2%;
}

div#skills{
    background-color: white;
    top: 200%;
}

div.move-up{
    margin-top: -3%;
}

h1#slab{
    visibility: visible;
    text-align: center;
    letter-spacing: 0.2em;
}

span.oneline{
    display: inline-block;
    width: 60%;
}

ul.no-bullets{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

span.stars{
    float: right;
    color: #22A39F;
}

span.emptystars{
    float: right;
}

                    /* Specifically 3rd Page (Projects) styles */

div.projectbox{
    -moz-perspective: 600;
    -o-perspective: 600;
    -webkit-perspective: 600;
    -ms-perspective: 600;
    perspective: 600;
    position: relative;
    height: 260px;
    width: 420px;
    margin-left: 8.5%;
    margin-top: 2%;
}
/* Child of projectbox */
div.project{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

div.project:hover{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

div.project-list {
  margin-bottom: 30px;
}

img.project-image{
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

div.side{
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

div.back{

    color: #1abc9c;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #F3EFE0;
    border: 2px solid #aaa;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a.github{
    margin-top: -4%;
    display: inline-block;
    width: 30px;
}

div#projects{
    top: 300%;
    height: auto;
    padding-bottom: 10%;
}

img.projectimage{
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
}

span#line3:before,
span#line3:after {
    border-top: 3px solid rgb(94,94,94);
    display: block;
    height: 1px;
    content: " ";
    width: 15%;
    position: absolute;
    top: 2.2em;
}
span#line3:before{
    left: 22.5%;
}
span#line3:after {
   left: 62.1%;
}


                    /* ////////////////////////Contact Form /////////////////////// */
div#contact{
    top: 590%;
    background-color: white;
    height: auto;
}

#social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}

#social i {
    font-size: 40px;
    color: #4a4a4a;
}

#social i:hover {
    color: #1abc9c;
}

#footerwrap {
    position:relative;
    bottom: 0px;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f;
}

#footerwrap p {
    color: #f2f2f2;
    margin-left: 10px;
}

.project-name {
  color: #1abc9c;
}

.hide-1200 {
  font-family: Georgia, sans-serif;
}

@media (max-width: 1200px) {
    .hide-1200{
        visibility: hidden;
    }

    .projectbox{
        left: auto;
    }
}



@media (min-height: 690px){
    div#contact{
        top: 564%;
    }
}

@media (min-height: 770px){
    div#contact{
        top: 540%;
    }
}

@media (max-width: 1000px) {
  div#contact{
    top: 1200%;
  }
}

@media (max-width: 600px){
    img#profile{
        margin: -12% auto 1% auto;
    }
    .about-text{
        font-size: 85%;
    }
    div#contact{
    top: 1070%;
  }
}

/*
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
